@use 'global';

.footer-main{
    background-color: global.$navbar-blue;
    margin-top: 5%;
    margin-bottom: 0;
    display: flex;
    // flex-direction: column;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    gap: 5%;
    justify-content: center;
    align-items: center;
}

.footer-child{
    // width: 30%;
    // border: 1px solid red;
    display: flex;
    gap: 3%;    

    img{
        width: 8%;
    }

    p{
        font-size: 19px;
    }

    a{
        text-decoration: none;
        color: global.$text-blk;
    }
    

}

.footer-child:nth-child(2){
    img{
        width: 10%;
    }
}

@media (max-width:680px) {
    .footer-main{
        flex-direction: column;
    }
    
}