$white-bg: #EBEBEB;
$text-blk: #1c1c1c;
$navbar-blue: #B2E0EA;

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: $white-bg;
    color: $text-blk;
    padding: 0;
    margin: 0;
}