$white-bg: #f3f3f3;
$text-blk: #1c1c1c;
$navbar-blue: #B2E0EA;
$navbar-dark: #232D3E;
$dark-bg:#28374D;

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: $white-bg;
    color: $text-blk;
    padding: 0;
    margin: 0;
}