
@use 'global'; 


.home-header{
    font-size: 18px;
    margin-top: 2%;
    // border: 1px solid red;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
}

.current-weather{
    display: inline;
    padding-right: 3%;
    
}

.home-header-left{
    // border: 1px solid black;
    width: 100%;
}

.dropdown-icon{
    width: 1.5%;
    margin-bottom: 0.2%;
    margin-left: 0.5%;
    
}


.home-header-right{
    width: 100%;
    // border: 1px solid blue;
    text-align: right;

    p{
        display: inline;
    }
    
    
}

.weather-main{
    // border: 1px solid blue;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    gap: 5%;
    // align-items: ce;
}

.sunIcon{
    width: 90%;
    margin-top: 8%;
    // border: 1px solid red;
    
}

.weather-main-left{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    // border: 1px solid red;
    p{
        font-size: 23px;
        // font-weight: 600;
        margin-top: 8%;
        padding-top: 0;
        color: rgb(175, 175, 175);
    }

}
.weather-main-right{
    width: 80%;
    // border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    gap: 6%;
}
.weather-temp-column{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    // border: 1px solid orange;

    h1{
        margin-bottom: 1%;

    }
    
}
.weather-time-column{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    // border: 1px solid orange;

    h1{
        margin-top: 12%;
        margin-bottom: 3.7%;
        text-align: right;
        
    }
}

.time-blinker{
    animation-name: blink;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    // animation-direction: ;
}

@keyframes blink {

    20%{
        opacity: 0;
    }
    
}

.weather-temper{
    font-size: 80px;
    font-weight: 400;
    position: relative;
    // top: 0;
    // left: 0;
}
.weather-time{
    font-size: 60px;
    font-weight: 100;
    position: relative;
    color: #3a3a3a;
    // border: 1px solid red;
    // margin-top: 0;
    // margin-bottom: 0;
    // padding-bottom: 0;
    // top: 0;
    // left: 0;
}



.weather-temper::before{
    content: 'Celsius';
    position: absolute;
    font-size: 37px;
    top: 20%;
    margin-left: 38%;
    margin-top: 4.5%;
}

.weather-field{
    display: flex;
    border-bottom: 1px solid rgb(192, 192, 192);
    padding-bottom: 2%;
    font-size: 20px;
    // border: 1px solid red;
    justify-content: space-between;
    
    p {
        padding-bottom: 0;
        margin: 0;
        // border: 1px solid red;
        
    }
}

.time-column-fields{
    // border: 1px solid red;

    p{
        margin-top: 4.3%;
    }

}
.temp-column-fields{
    // border: 1px solid red;

    p{
        margin-top: 4%;
    }

}

.selectTrigger{
    background-color: white;
    border: 0;
    font-size: 17px;
    border-radius: 5px;
    padding: 0.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    outline: none;
}

@media (max-width:680px) {
    .home-header{
        flex-direction: column;
        font-size: 17px;
        gap: 10px;
        margin-bottom: 5%;
    }

    .dropdown-icon{
        width: 3%;
    }
    .home-header-right{
        text-align: left;
    }
    .weather-main{
        flex-direction: column;
        margin-bottom: 20%;

    }
    .weather-main-right{
        flex-direction: column;
        // border: 1px solid red;
        width: 100%;    
        justify-content: center;
        // align-items: ;
    }
    .weather-main-left{
        p{
            margin-bottom: 0;
            font-size: 28px;
        }
    }

    .weather-temp-column{
        // border: 1px solid red;
        width: 100%;
        
        h1::before{
            margin-left: 50%;
        }
        p{
            font-size: 22px;
        }
        
    }
    .weather-time-column{
        width: 100%;
        h1{
            text-align: left;
        }
        p{
            font-size: 22px;
        }
    }
}

